<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        .isRed {
            color: #ff0000;
        }

        .isGreen {
            color: #55ee55;
        }
    </style>
</head>
<body>
<div id="app">
    <div :class="{isGreen: isOk===true, isRed: isOk===false}">{{ isOk }}</div>
    <button @click="isOk = !isOk">ClickMe</button>
    <p v-if="isOk">Salut à tous!!</p>
</div>
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script>


    Vue.createApp({
        data() {
            return {
                isOk: true
            }
        }
    }).mount('#app')
</script>
</body>
</html>