<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="app">
    <input type="text" v-model="textInput" @keydown.enter="ajouterTache">
    <button @click="ajouterTache">Ajouter une tâche</button>
    <ul>
        <li v-for="(task, index) in tasks">
            {{ task }}
            <button @click="supprimerTache(index)">X</button>
        </li>
    </ul>
</div>
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script>
    Vue.createApp({
        data(){
            return {
                tasks: [
                    "manger de la pizza",
                    "finir la vaisselle",
                    "finir Halflife 3",
                ],
                textInput: '',
            }
        },
        methods: {
            ajouterTache(){
                this.tasks.push(this.textInput)
                this.textInput = '';
            },
            supprimerTache(position){
                this.tasks.splice(position, 1)
            }
        }
    }).mount('#app')



</script>
</body>
</html>